<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huskybits.alex.mdm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="MixerBot"
        android:theme="@android:style/Theme.Material.Light.DarkActionBar">
        <activity
            android:name=".MainScreenActivity"
            android:label="MixerBot"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- New

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />

        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />

        New till here-->

        <!-- Custom Drink Activity -->
        <activity
            android:name=".CustomDrinkActivity"
            android:label="Custom drink"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Summary Activity -->
        <activity
            android:name=".SummaryActivity"
            android:label="Order summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Payment Activity -->
        <activity
            android:name=".PaymentActivity"
            android:label="Your order"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Payment Activity -->

        <!-- QR Encoding Activity -->
        <activity
            android:name=".QRCode.GenerateQRCodeActivity"
            android:label="Scan the code to MixerBot"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Standard Drinks Activity
        <activity
            android:name=".StandardDrinksActivity"
            android:label="Choose a drink" >
        </activity>
        -->

    </application>

</manifest>